{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-eticsoft_paynet-settings" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>PayNet Kredi Kartı Ödeme Modülü</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
	{% if not payment_eticsoft_paynet_registered %}
	<br/><hr/>
	<form action="" method="post">
		<div class="alert alert-warning">
			<h2>Kullanım Şartları </h2>
			<ul>
				<li>PayNet modülü PayNet Ödeme Kuruluşu A.Ş tarafından GPL lisansı ile açık kaynaklı ve ücretsiz sunulmaktadır. <b>Satılamaz.</b></li>
				<li>PayNet modülü PayNet Ödeme Kuruluşu A.Ş 'nin sağladığı servisleri kullanmak için geliştirilmiştir. Başka amaçla kullanılamaz.</li>
				<li>Uluslararası kabul görmüş güvenlik standartlarına göre kredi kartı bilgilerine erişim veya bilgilerin kayıt edilmesi yasaktır. Bu eklenti orijinal kaynak kodlarıyla müşterilerinizin kredi kartı bilgilerini siteminize veya herhangi bir yere asla kaydetmez. Kaynak kodlarını bu kurallara uygun tutmak sizin sorumluluğunuzdadır.</li>
				<li>Eklentinin kurulu olacağı mağazaya ait version ve iletişim bilgileriniz (mağaza eposta, OpenCat versiyonu v.b.) geliştirici teknik destek ve bilgilendirme sistemine otomatik kayıt edilecek ve bu bilgiler önemli bildirimler ile güncellemelerden haberdar olmanız için kullanılacaktır.</li>
			</ul>
			<hr>
			<input type="checkbox" value="1" name="confirm_payment_eticsoft_paynet_register" checked><br/>
			<label for="confirm_payment_eticsoft_paynet_register">Kullanım şartlarını kabul ediyorum</label>
			<br>
			<button type="submit" class="btn btn-primary">Mağazamı Kaydet ve Başla</button>
		</div>
	</form>

	{% else %}

    <div class="container-fluid">

        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>

            <div class="panel-body">
                <ul class="nav nav-tabs" id="tabs">
                    <li class="active"><a href="#tab-payment_eticsoft_paynet_settings" data-toggle="tab">Genel Ayarlar</a></li>
                    <li><a href="#tab-payment_eticsoft_paynet_rates" data-toggle="tab">Taksit Oranları</a></li>
                    <li><a href="#tab-payment_eticsoft_paynet_about" data-toggle="tab">PayNet Hakkında</a></li>
                    <li><a href="#tab-payment_eticsoft_paynet_help" data-toggle="tab">Yardım & Teknik Destek</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-payment_eticsoft_paynet_settings">
                        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment_eticsoft_paynet-settings" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_eticsoft_paynet_data_key">Paynet Data Key (Publishable Key)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_eticsoft_paynet_data_key" value="{{ payment_eticsoft_paynet_data_key }}" placeholder="pbk_pcs_sQ37X..." id="payment_eticsoft_paynet_data_key" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_eticsoft_paynet_secret_key">Paynet Secret Key </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_eticsoft_paynet_secret_key" value="{{ payment_eticsoft_paynet_secret_key }}" placeholder="sck_pcs_w0012..." id="payment_eticsoft_paynet_secret_key" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_eticsoft_paynet_agent_code">Paynet Bayi Kodu (opsiyonel)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_eticsoft_paynet_agent_code" value="{{ payment_eticsoft_paynet_agent_code }}" placeholder="123.." id="payment_eticsoft_paynet_agent_code" class="form-control" />
                                </div>
                            </div>
							 <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_eticsoft_paynet_ratio_code">Paynet Oran Kodu (opsiyonel)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_eticsoft_paynet_ratio_code" value="{{ payment_eticsoft_paynet_ratio_code }}" placeholder="A1B2C3.." id="payment_eticsoft_paynet_ratio_code" class="form-control" />
                                </div>
                            </div>
							<div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_eticsoft_paynet_installment_options">Paynet Taksit Seçenekleri (opsiyonel)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_eticsoft_paynet_installment_options" value="{{ payment_eticsoft_paynet_installment_options }}" placeholder="1,2,3.." id="payment_eticsoft_paynet_installment_options" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_eticsoft_paynet_ins_fee">Taksit komisyonları ödemeye eklensin</label>
                                <div class="col-sm-10">
                                    <select name="payment_eticsoft_paynet_ins_fee" id="input-payment_eticsoft_paynet_ins_fee" class="form-control">              
                                        <option value="on">Evet</option>
                                        <option value="off" {% if payment_eticsoft_paynet_ins_fee  ==  'off' %}selected="selected"{% endif %}>Hayır</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_eticsoft_paynet_force_tds">3D Secure zorunlu</label>
                                <div class="col-sm-10">
                                    <select name="payment_eticsoft_paynet_force_tds" id="input-payment_eticsoft_paynet_force_tds" class="form-control">              
                                        <option value="on">Evet</option>
                                        <option value="off" {% if payment_eticsoft_paynet_force_tds  ==  'off' %}selected="selected"{% endif %}>Hayır</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">Modül Durumu</label>
                                <div class="col-sm-10">
                                    <select name="payment_eticsoft_paynet_status" id="input-status" class="form-control">                
                                        <option value="1" >Aktif</option>
                                        <option value="0" {% if payment_eticsoft_paynet_status == 0 %} selected="selected" {% endif %} >Pasif</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">Test Modu</label>
                                <div class="col-sm-10">
                                    <select name="payment_eticsoft_paynet_test_mode" id="input-status" class="form-control">                
                                        <option value="off" >Kapalı (Mağaza online)</option>
                                        <option value="on" {% if payment_eticsoft_paynet_test_mode  ==  'on' %} selected="selected" {% endif %} >Açık (Ödemeler gerçekten alınmayacak)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">Sipariş Durumu</label>
                                <div class="col-sm-10">
                                    <select name="payment_eticsoft_paynet_order_status_id" id="input-order-status" class="form-control">
                                        {% for order_status in order_statuses %}
                                        {% if order_status.order_status_id  ==  payment_eticsoft_paynet_order_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>{% endif %}
                                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
							
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_eticsoft_paynet_button_text">Button Text </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_eticsoft_paynet_button_text" value="{{ payment_eticsoft_paynet_button_text }}" placeholder="Ödemeyi tamamla" id="payment_eticsoft_paynet_button_text" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_eticsoft_paynet_form_text">Form Text </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_eticsoft_paynet_form_text" value="{{ payment_eticsoft_paynet_form_text }}" placeholder="Kart bilgilerinizi girip ödemeyi tamamla butonuna tıklayınız" id="payment_eticsoft_paynet_form_text" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_eticsoft_paynet_logo_url">Payment Logo URL (https) </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_eticsoft_paynet_logo_url" value="{{ payment_eticsoft_paynet_logo_url }}" placeholder="https://store.com/paymetlogo.jpg" id="payment_eticsoft_paynet_logo_url" class="form-control" />
                                </div>
                            </div>

                            <input type="hidden" name="payment_eticsoft_paynet_submit" value="1"/>
                    </div>
                    <div class="tab-pane" id="tab-payment_eticsoft_paynet_rates">
                        <div class="form-group">
							<div class="alert alert-success"> Taksit oranları PayNet Ödeme A.Ş. hesabınızdan otomatik olarak getirilmektedir. Aşağıda taksitleri göremiyorsanız ayarlar formundaki anahtarları ve ortamı kontrol ediniz.</div>
                            {{ payment_eticsoft_paynet_rates_table}}
                        </div>
                        <input type="hidden" name="payment_eticsoft_paynet_rates_submit" value="1"/>
                        <input type="hidden" name="payment_eticsoft_paynet_registered" value="ok"/>

                        </form>
                    </div>
                    <div class="tab-pane" id="tab-payment_eticsoft_paynet_about">
                        <div class="panel">
                            <div class="row eticsoft_eticsoft_paynet-header">
                                <img src="../catalog/view/theme/default/image/eticsoft_paynet/eticsoft_paynet_logo.png" class="col-xs-4 col-md-2 text-center" id="payment-logo" />
                                <div class="col-xs-6 col-md-5 text-center">
                                    <h4>PayNet Ödeme Kuruluşu A.Ş.</h4>
                                    <h5>Paynet Sanal Pos internet sitenizde satış yapıp tüm kredi 
										kartlarından ödeme alabilmenizi sağlar.</h5>
                                </div>
                                <div class="col-xs-12 col-md-5 text-center">
                                    <a target=_blank;" href="https://odeme.paynet.com.tr/" class="btn btn-primary" id="create-account-btn">Hesabınıza giriş yapın</a>
                                </div>
                            </div>                        
							<hr />
							<div align="center">
								<video style="width:80%; max-width:980px; height: 100%;" controls="controls" poster="https://www.paynet.com.tr/assets/images/urunvideogorsel/sanalpos.jpg">
									<source src="https://www.paynet.com.tr/assets/video/sanalpos.mp4" type="video/mp4">
								</video>
							</div>
                            <hr />


                            <div class="eticsoft_eticsoft_paynet-content">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="thumbnail">
                                            <figure class="figure text-center">
                                                <img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/icon_clock.png" width="140" height="100"/>
                                            </figure>
                                            <p class="text text-center">
                                                Hızlı ve Kolay
                                                <br> Müşterileriniz için enkolay ödeme yöntemin
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="thumbnail">
                                            <figure class="figure text-center">
                                                <img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/icon_money.png" width="140" height="100"/>
                                            </figure>
                                            <p class="text text-center">
                                                7/24 Tahsilat
                                                <br>dilediğiniz saat tahsilat yapabilirsiniz.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="thumbnail">
                                            <figure class="figure text-center">
                                                <img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/icon_credit_card.png" width="140" height="100"/>
                                            </figure>
                                            <p class="text text-center">
                                                Tüm Kredi Kartları
                                                <br>Sanal Pos tüm bankalara ait kredi kartlarıyla uyumlu çalışır.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="thumbnail">
                                            <figure class="figure text-center">
                                                <img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/icon_visa_mastercard.png" width="140" height="100"/>
                                            </figure>
                                            <p class="text text-center">
                                                Sitenizde Tahsilat
                                                <br>Yönlendirme yok. Doğrudan kendi internet sitenizden satış yapın
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="thumbnail">
                                            <figure class="figure text-center">
                                                <img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/icon_exchange.png" width="140" height="100"/>
                                            </figure>
                                            <p class="text text-center">
                                                Raporlanabilir
                                                <br>Finansal işlemlerinize ait  gelişkin raporlara dilediğiniz an ulaşabilirsiniz.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="thumbnail">
                                            <figure class="figure text-center">
                                                <img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/icon_cogs.png" width="140" height="100"/>
                                            </figure>
                                            <p class="text text-center">
                                                Hızlı ve kolay
                                                <br>Sitenize özel olarak entegre edilir ve kolayca olarak düzenlenebilir
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>					





                    </div>
                    <div class="tab-pane" id="tab-payment_eticsoft_paynet_help">

                        <div class="panel">
                            <!--<div class="row">   
                                <div class="alert alert-success"> Bu plugin için teknik destek işlemleri PayNet Ödeme A.Ş. adına <a href="https://eticsoft.com">EticSoft</a> tarafından <b>ÜCRETSİZ</b> sağlanmaktadır</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 text-center">            
                                    <h3>Yardıma mı ihtiyacınız var? <br/>
										Hemen <a href="https://eticsoft.com">#eticsoft</a>'u çağırın !</h3>
                                    <div class="row">
                                        <img src="../catalog/view/theme/default/image/eticsoft_paynet/help2.png" class="col-sm-12 text-center" id="payment-logo" />
                                    </div>
                                </div>-->
                                <div class="col-sm-8 panel text-center">
                                    <h3>Destek Kanalları</h3><hr/>
                                    <a class="btn btn-info btn-large" href="../readme.md" target="_blank"><i class="icon icon-book"> </i> Kullanım Klavuzu</a>
                                    <a class="btn btn-success btn-large" href="https://eticsoft.com/support/submitticket.php?step=2&deptid=11" target="_blank"><i class="icon icon-ambulance"> </i> Ticket destek sistemi</a> <hr/>
                                    <!--<a class="btn btn-info btn-large"><i class="icon icon-phone"> </i> Telefon 0242 241 59 85</a> <hr/>
                                    <a href="https://eticsoft.com"><img src="../catalog/view/theme/default/image/eticsoft_paynet/eticsoft_logo.png" width="150px" /></a><br/>-->

                                </div>

                                <hr/>
                            </div>

                            <!--<div class="panel">
                                <div class="col-sm-12 text-center">
                                    <a href="https://www.facebook.com/EticSoft/"><img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/facebook.png" width="32px" /></a>
                                    <a href="https://twitter.com/eticsoft"><img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/twitter.png" width="32px" /></a>
                                    <a href="https://www.youtube.com/user/EticSoft"><img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/youtube.png" width="32px" /></a>
                                    <a href="https://www.linkedin.com/company/eticsoft-yaz%C4%B1l%C4%B1m"><img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/linkedin.png" width="32px" /></a>
                                    <a href="https://www.instagram.com/eticsoft/"><img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/instagram.png" width="32px" /></a>
                                    <a href="https://wordpress.org/support/users/eticsoft-lab/"><img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/wordpress.png" width="32px" /></a>
                                    <a href="https://github.com/eticsoft/"><img src="../catalog/view/theme/default/image/eticsoft_paynet/icons/github.png" width="32px" /></a>
                                </div>-->
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	{% endif %}</div>
{{ footer }}
<style>
    #content .tab-pane:first-child .panel {
        border-top-left-radius: 0;
    }

    .eticsoft_paynet-header .text-branded,
    .eticsoft_paynet-content .text-branded {
        color: #00aff0;
    }

    .eticsoft_paynet-header h4,
    .eticsoft_paynet-content h4,
    .eticsoft_paynet-content h5 {
        margin: 2px 0;
        color: #00aff0;
        font-size: 1.8em;
    }

    .eticsoft_paynet-header h4 {
        margin-top: 5px;
    }

    .eticsoft_paynet-header .col-md-6 {
        margin-top: 18px;
    }

    .eticsoft_paynet-content h4 {
        margin-bottom: 10px;
    }

    .eticsoft_paynet-content h5 {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    .eticsoft_paynet-content h6 {
        font-size: 1.3em;
        margin: 1px 0 4px 0;
    }

    .eticsoft_paynet-header > .col-md-4 {
        height: 65px;
        vertical-align: middle;
        border-left: 1px solid #ddd;
    }

    .eticsoft_paynet-header > .col-md-4:first-child {
        border-left: none;
    }

    .eticsoft_paynet-header #create-account-btn {
        margin-top: 14px;
    }

    .eticsoft_paynet-content dd + dt {
        margin-top: 5px;
    }

    .eticsoft_paynet-content ul {
        padding-left: 15px;
    }

    .eticsoft_paynet-content .ul-spaced li {
        margin-bottom: 5px;
    }
    table.eticsoft_paynet_table {
        width:90%;
        margin:auto;
    }
    table.eticsoft_paynet_table td,th {
        width: 60px;
        margin:0px;
        padding:2px;
    }
    table.eticsoft_paynet_table input[type="number"] {
        width:50px;
    }
</style>